#Gitignore sirve para indicar a git, que ficheros debe hacer seguimiento o no 
# y por tanto no subir a guithub





#-------variables de entorno; definicion: una variable disponible en todos los procesos
.env

#archivos del sistema
.Ds_Store   
Thumbs.db

#dependencias-
node_modules/

# carpetas build
dist/
build/

